
<div class="container-fluid">
  <div class="row wrapper">
      <div class="col-lg-4 col-md-4">
          <form [formGroup]="signUp" (ngSubmit)="onSubmitRegistration(signUp)" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
            <mat-form-field>
              <input matInput type="email" formControlName="email" placeholder="Your email">
              <mat-error>Email is invalid.</mat-error>
            </mat-form-field>

            <mat-form-field hintLabel="Should be at least 4 characters long">
              <input matInput type="username" formControlName="username" placeholder="Your username">
              <mat-hint align="end">{{signUp.value.username.length}} / 4</mat-hint>
              <mat-error>has to be 4 characters long.</mat-error>
            </mat-form-field>
  
            <mat-form-field hintLabel="Should be at least 6 characters long">
              <input matInput type="password" formControlName="password" placeholder="Your password" minlength="6">
              <mat-hint align="end">{{signUp.value.password.length}} / 6</mat-hint>
              <mat-error>has to be 6 characters long.</mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput [matDatepicker]="picker" formControlName="birthday" placeholder="Your birthday" name="birthday" >
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <div><h5>Gender</h5></div>
            <mat-radio-group formControlName="gender">
                <mat-radio-button value="1">Male</mat-radio-button>
                <mat-radio-button value="2">Female</mat-radio-button>
            </mat-radio-group>
  
            <button mat-raised-button color="primary" type="submit" [disabled]="!signUp.valid">Sign Up</button>
          </form>
        <button mat-raised-button color="warn" (click)="googleLogin()">Connect Google</button>
        </div>
    <div class="col-lg-8 col-md-8 col-sm-8">
      <section class="signup-form">
          <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="login" (ngSubmit)="onSubmitLogin(login)">
            <mat-form-field>
              <input type="email" matInput placeholder="Your email" formControlName="email">
              <mat-error>Email is invalid.</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input type="password" matInput placeholder="Your password" formControlName="password">
              <mat-error>Invalid Password</mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit" [disabled]="!login.valid">Login</button>
          </form>
        </section>
    </div>
  </div>
</div>
