<mat-nav-list>
  <a *ngIf="isAuth" mat-list-item routerLink="/signup" routerLinkActive="active" (click)="onClose()">
    <mat-icon>face</mat-icon>
    <span class="nav-caption">Home</span>
  </a>
  <a *ngIf="!isAuth" mat-list-item routerLink="/" routerLinkActive="active" (click)="onClose()">
    <mat-icon>input</mat-icon>
    <span class="nav-caption">Login</span>
  </a>
  <a  *ngIf="isAuth" mat-list-item routerLink="/game" routerLinkActive="active" (click)="onClose()">
    <mat-icon>games</mat-icon>
    <span class="nav-caption" >Game</span>
  </a>
  <mat-list-item *ngIf="isAuth">
    <button  mat-icon-button (click)="onClose()">
      <mat-icon>eject</mat-icon>
      <span class="nav-caption" (click)='logout()'>Logout</span>
    </button>
  </mat-list-item>
</mat-nav-list>
