<div class="container">
  <div class="row">
    <div class="col-lg-10 col-md-8 esto aqui">
      <mat-card class="mat-elevation-z3 size">
        <mat-grid-list class="tic-tac-grid" cols="3" >
          <mat-grid-tile *ngFor="let block of blocks; let i = index;"
                         (click)="onPlayerClick(i)">
            <i [class]="playerSymbol == 'X' ? 'material-icons clear' : 'material-icons panorama_fish_eye'">{{ blocks[i] }}</i>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card>
      <button mat-raised-button color="warn" (click)="restartGame()" >Restart Game</button>
    </div>
  </div>
</div>

