/*@import "../node_modules/font-awesome/css/font-awesome.scss";*/
@import "../../../node_modules/font-awesome/css/font-awesome.css";

.container {
  padding-top: 50px;
}

@media only screen and (max-width: 599px) {
  .container {
    padding-top: 0;
  }
}

mat-grid-tile {
  cursor: pointer;
}

.tic-tac-grid mat-grid-tile:nth-child(2),
.tic-tac-grid mat-grid-tile:nth-child(5),
.tic-tac-grid mat-grid-tile:nth-child(8)
{
  border-left: 5px solid #ccc;
  border-right: 5px solid #ccc;
}

.tic-tac-grid mat-grid-tile:nth-child(4),
.tic-tac-grid mat-grid-tile:nth-child(5),
.tic-tac-grid mat-grid-tile:nth-child(6)
{
  border-top: 5px solid #ccc;
  border-bottom: 5px solid #ccc;
}

.size {
  max-width: 500px;
  max-height: 500px;
}

.waiting {
  padding: auto;
}

.highlight-user {
  background-color: #da9796;
}

.smaller-pic {
  border-radius: 100%;
  max-height: 80px;
  max-width: 80px;
  margin-right: 10px;
}

.base {
  font-size: 1.5em;
  border: #7860f9 2px solid;
  margin: 15px;
}
