<div class="container">
  <div class="row">
    <div class="col-lg-2 col-md-2">

    </div>
    <div class="col-lg-10 col-md-10">
      <mat-table [dataSource]='gameTable'>

        <ng-container matColumnDef="user">
          <mat-header-cell *matHeaderCellDef> User </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{user.user}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="created">
          <mat-header-cell *matHeaderCellDef> Created </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{user.created}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="country">
          <mat-header-cell *matHeaderCellDef> Country </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{user.country}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="join">
          <mat-header-cell *matHeaderCellDef> Join Session </mat-header-cell>
          <mat-cell *matCellDef="let user">
            <button mat-button color="primary">Join</button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <mat-paginator [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 20]"
                     [showFirstLastButtons]="true">
      </mat-paginator>
    </div>
  </div>
</div>
