<div class="container">
  <div class="row">

    <div class="col-lg-4 col-md-4 espacio">
      <input type="text" placeholder="create Game" #gameId>
      <button mat-raised-button color='primary' (click)="onSubmitNewGame(gameId.value)">Create Game</button>
    </div>

    <div class="col-lg-8 col-md-8">
      <mat-table [dataSource]='gameTable'>

        <ng-container matColumnDef="user">
          <mat-header-cell *matHeaderCellDef> User </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{user.user}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="created">
          <mat-header-cell *matHeaderCellDef> Created </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{user.created | date: 'short'}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="number of players">
          <mat-header-cell *matHeaderCellDef> Number of players </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{user.numberOfPlayers}} / 2</mat-cell>
        </ng-container>

        <ng-container matColumnDef="join">
          <mat-header-cell *matHeaderCellDef> Join Session </mat-header-cell>
          <mat-cell *matCellDef="let user">
            <!--<button mat-button color="primary" [disabled]="user.numberOfPlayers>= 2" (click)="joinGame(user.id)">Join</button>-->
            <button mat-button color="primary" [disabled]="user.numberOfPlayers >= 2" (click)="joinGame(user.id)">Join</button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <mat-paginator [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 20]"
                     [showFirstLastButtons]="true">
      </mat-paginator>
    </div>
  </div>
</div>
