mat-grid-tile {
  cursor: pointer;
}

.tic-tac-grid mat-grid-tile:nth-child(2),
.tic-tac-grid mat-grid-tile:nth-child(5),
.tic-tac-grid mat-grid-tile:nth-child(8)
{
  border-left: 5px solid #ccc;
  border-right: 5px solid #ccc;
}

.tic-tac-grid mat-grid-tile:nth-child(4),
.tic-tac-grid mat-grid-tile:nth-child(5),
.tic-tac-grid mat-grid-tile:nth-child(6)
{
  border-top: 5px solid #ccc;
  border-bottom: 5px solid #ccc;
}
